<nz-table #listIssue [nzData]="listOfIssue" [nzFrontPagination]="true"
          [nzPageSize]="pageSize" [nzPageIndex]="curPage" [nzLoading]="false">
  <thead>
  <tr>
    <th>Id</th>
    <th>Title</th>
    <th>Description</th>
    <th>Operation</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let issue of listIssue.data; let i = index; trackBy: trackByUserId">
    <td>{{ issue.id }}</td>
    <td>{{ issue.title }}</td>
    <td>{{ issue.description }}</td>
    <td>
      <a (click)="showModal(issue.id)">Chiffrer</a>
    </td>
  </tr>
  </tbody>
</nz-table>
<nz-modal [(nzVisible)]="isVisible" nzTitle="Chiffrement" (nzOnCancel)="handleCancel()" (nzOnOk)="handleOk()" nzOkText="Confrim"
          nzCancelText="Cancel">
  <ng-container *nzModalContent>
    <label>
      <input nz-input placeholder="1d3h" [(ngModel)]="chiffrement" nzHasFeedback/>
    </label>
  </ng-container>
</nz-modal>
