<nz-layout class="layout">
  <nz-sider nzTheme="light" nzCollapsible [(nzCollapsed)]="isCollapsed" nzBreakpoint="lg" [nzCollapsedWidth]="0">
    <div class="logo">
      <img alt="logo" src="assets/safetyline.png">
    </div>
    <ul nz-menu nzMode="inline" nzTheme="light" [nzInlineCollapsed]="isCollapsed">
      <li nz-submenu nzTitle="Issues" nzIcon="gitlab">
        <ul>
          <li nz-menu-item>Chiffrer</li>
        </ul>
      </li>
      <li nz-submenu nzTitle="Utilisateur" nzIcon="user">
        <ul >
          <li nz-menu-item routerLink="/home/utilisateur">Liste</li>
          <li nz-menu-item routerLink="/home/utilisateur/add">Ajouter</li>
          <li nz-menu-item routerLink="/home/utilisateur/sup">Supprimer</li>
        </ul>
      </li>
      <li nz-submenu nzTitle="Chiffrement" nzIcon="setting">
        <ul>
          <li nz-menu-item>Valider</li>
          <li nz-menu-item>Modifier</li>
          <li nz-menu-item>Voir tous</li>
        </ul>
      </li>
      <li nz-submenu nzTitle="Authentication" nzIcon="lock">
        <ul>
          <li nz-menu-item>Ajouter admin</li>
        </ul>
      </li>
    </ul>
  </nz-sider>
  <nz-layout>
    <nz-header>
      <div nz-row nzJustify="end">
        <div nz-col nzSpan="4">
          <nz-avatar nzIcon="user" style="background-color:#fcfcfc;"></nz-avatar>
          <a
            nz-popconfirm
            nzPopconfirmTitle="Are you sure?"
            nzOkText="ok"
            nzCancelText="cancel"
            (nzOnConfirm)="logout()"
            href="#" > &nbsp;
            <i nz-icon nzType="logout" nzTheme="outline"></i>&nbsp;quitter
          </a>
        </div>
      </div>
    </nz-header>
    <nz-content>
      <div class="inner-content">
        <router-outlet></router-outlet>
      </div>
    </nz-content>
    <nz-footer>Ant Design ©2020 Implement By Angular</nz-footer>
  </nz-layout>
</nz-layout>
