<nz-table #listUser [nzData]="listOfUser" [nzFrontPagination]="true" [nzPageSize]="pageSize" [nzPageIndex]="curPage">
  <thead>
  <tr>
    <th>Id</th>
    <th>Name</th>
    <th>Mail</th>
    <th>Time</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let user of listUser.data">
    <td>{{ user.id }}</td>
    <td>{{ user.name }}</td>
    <td>{{ user.mail }}</td>
    <td>{{ user.time }}</td>
    <td>
      <a>Action 一 {{ user.name }}</a>
      <nz-divider nzType="vertical"></nz-divider>
      <a>Delete</a>
    </td>
  </tr>
  </tbody>
</nz-table>
