<nz-table #listUser [nzData]="listOfUser" [nzFrontPagination]="true"
          [nzPageSize]="pageSize" [nzPageIndex]="curPage" [nzLoading]="false">
  <thead>
  <tr>
    <th>Id</th>
    <th>Name</th>
    <th>Mail</th>
    <th>Role</th>
    <th>Operation</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let user of listUser.data; let i = index; trackBy: trackByUserId">
    <td>{{ i }}</td>
    <td>{{ user.username }}</td>
    <td>{{ user.email }}</td>
    <td>{{ user.role }}</td>
    <td>
      <a>ajouter</a>
      <nz-divider nzType="vertical"></nz-divider>
      <a
        nz-popconfirm
        nzPopconfirmTitle="Are you sure?"
        nzOkText="ok"
        nzCancelText="cancel"
        (nzOnConfirm)="handleDel(user.id)"
        (nzOnCancel)="handleDelCan()"
      >supprimer</a>
    </td>
  </tr>
  </tbody>
</nz-table>
